<h4 class="mdl-dialog__title" id="dialog-title">Add expense</h4>
<form class="st--form-pad">
  <div class="mdl-grid st--form-max-width">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--11-col st--sum-input">
      <span class="expense-currency">{{currency}}</span>
      {{input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sum" value=expense.sum}}
      <label class="mdl-textfield__label" for="sum">Sum</label>
      <span class="mdl-textfield__error">Input is not a number!</span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      {{input list="select-expense-catetory" name="expenseCategories" class="mdl-textfield__input" id="expense-category" value=expense.category}}
      <label for="expense-category" class="mdl-textfield__label">Select Category</label>
      <datalist id="select-expense-catetory">
        {{#each expenseCategories as |category|}}
          <option value="{{category}}"></option>
        {{/each}}
      </datalist>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      {{input class="mdl-textfield__input" type="text" id="expense-name" value=expense.name}}
      <label class="mdl-textfield__label" for="expense-name">Expense Name ( optional )</label>
      {{!-- <span class="mdl-textfield__error"></span> --}}
    </div>

  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" {{action "addExpense"}}>OK</button>
    <button type="button" class="mdl-button mdl-js-button mdl-button--primary" {{action "clearInputs"}}>Clear</button>
  </div>
</form>
