<h4 class="mdl-dialog__title" id="dialog-title">Add expense</h4>
<form class="st--form-pad">
  <div class="mdl-grid st--form-max-width">

    {{#validate-input class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--11-col st--sum-input" validate=expense.sum messages=errorMessagesSum}}
      <span class="expense-currency">{{currency}}</span>
      {{input class="mdl-textfield__input" type="text" id="sum" value=expense.sum em-required="required" em-pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$"}}
      <label class="mdl-textfield__label" for="sum">Sum</label>
    {{/validate-input}}

    {{#validate-input class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col"  validate=expense.category messages=errorMessagesCategory}}
      {{input list="select-expense-catetory" name="expenseCategories" class="mdl-textfield__input" id="expense-category" value=expense.category em-required="required"}}
      <label for="expense-category" class="mdl-textfield__label">Select Category</label>
      <datalist id="select-expense-catetory">
        {{#each expenseCategories as |category|}}
          <option value="{{category}}"></option>
        {{/each}}
      </datalist>
    {{/validate-input}}

    {{#validate-input class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col" validate=expense.name messages=errorMessagesSum}}
      {{input class="mdl-textfield__input" type="text" id="expense-name" value=expense.name em-required="required"}}
      <label class="mdl-textfield__label" for="expense-name">Expense Title</label>
    {{/validate-input}}

  </div>
  <div class="mdl-dialog__actions">
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" {{action "addExpense"}}>OK</button>
    <button type="button" class="mdl-button mdl-js-button mdl-button--primary" {{action "clearInputs"}}>Clear</button>
  </div>
</form>
