{{#if editMode}}
  <td class="mdl-data-table__cell--non-numeric">
    {{#validate-input class="mdl-textfield mdl-js-textfield edit-mode" validate=editModeValues.name messages=errorMessages}}
      {{input class="mdl-textfield__input" type="text" id=(concat elementId "-edit_name") value=editModeValues.name em-required="required"}}
      <label class="mdl-textfield__label" for="{{elementId}}-edit_name">Title</label>
    {{/validate-input}}
  </td>
  <td class="mdl-data-table__cell--non-numeric">
    {{#validate-input class="mdl-textfield mdl-js-textfield edit-mode" validate=editModeValues.category messages=errorMessages}}
      {{input class="mdl-textfield__input" type="text" id=(concat elementId "-edit_category") value=editModeValues.category em-required="required"}}
      <label class="mdl-textfield__label" for="{{elementId}}-edit_category">Category</label>
    {{/validate-input}}
  </td>
  <td>
    {{#validate-input class="mdl-textfield mdl-js-textfield edit-mode" validate=editModeValues.sum messages=errorMessages}}
      <span class="expense-currency">{{currency}}</span>
      {{input class="mdl-textfield__input" type="text" id=(concat elementId "-edit_sum") value=editModeValues.sum em-required="required" em-pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$"}}
      <label class="mdl-textfield__label" for="{{elementId}}-edit_sum">Sum</label>
    {{/validate-input}}
  </td>

  <td class="options-cell-cont">
    <button class="mdl-button mdl-js-button mdl-button--icon" onclick={{ action "openOptions"}}>
      <i class="material-icons">more_vert</i>
    </button>

    <ul class="cell-options-menu st--list-unstyled mdl-shadow--2dp" id="{{elementId}}-options">
      <li class="cell-options-menu-item">
        <button type="button" name="button" {{action "update"}}>
          Save
        </button>
      </li>
      <li class="cell-options-menu-item">
        <button type="button" name="button" {{action "edit" false}}>
          Cancel
        </button>
      </li>
    </ul>
  </td>

{{else}}
  <td class="mdl-data-table__cell--non-numeric">{{expense.name}}</td>
  <td class="mdl-data-table__cell--non-numeric">{{expense.category}}</td>
  <td>{{currency}}{{expense.sum}}</td>

  <td class="options-cell-cont">
    <button class="mdl-button mdl-js-button mdl-button--icon" onclick={{ action "openOptions"}}>
      <i class="material-icons">more_vert</i>
    </button>

    <ul class="cell-options-menu st--list-unstyled mdl-shadow--2dp" id="{{elementId}}-options">
      <li class="cell-options-menu-item">
        <button type="button" name="button" {{action "edit" true}}>
          Edit
        </button>
      </li>
      <li class="cell-options-menu-item">
        <button type="button" name="button" {{action "remove"}}>
          Remove
        </button>
      </li>
    </ul>
  </td>
{{/if}}
