
<div class="mdl-textfield mdl-js-textfield select-date-item">
  <label class="mdl-textfield__label sr-only" for="select-year">Year</label>
  <select class="mdl-textfield__input" type="text" id="select-year">
    {{#each years as |year|}}
      <option value={{year.year}}>{{year.year}}</option>
    {{/each}}
  </select>
</div>

<div class="mdl-textfield mdl-js-textfield select-date-item">
  <label class="mdl-textfield__label sr-only" for="select-month">Month</label>
  <select class="mdl-textfield__input" type="text" id="select-month">
    {{#each timePeriods as |period|}}
      <option value={{period.begins}}>{{beatify-time-period period}}</option>
    {{/each}}
  </select>
</div>

<div class="select-date-button">
  {{#if btnActive}}
    <button class="mdl-button mdl-js-button mdl-button--primary" id="time-period-change-btn" {{action "changeTimePeriod"}}>ok</button>
  {{else}}
    <button class="mdl-button mdl-js-button mdl-button--primary" id="time-period-change-btn" disabled>ok</button>
  {{/if}}
</div>
