{{#if editMode}}

  <div class="settings-input {{if value.length 'outline-default'}}">
    {{input value=value}}
  </div>

  {{#if value.length}}
    <button class="mdl-button mdl-js-button mdl-button--primary settings-edit-btn" {{action "updateSetting"}}>
      ok
    </button>
  {{else}}
    <button class="mdl-button mdl-js-button mdl-button--primary settings-edit-btn" disabled>
      ok
    </button>
    <span class="sr-only">This feild can not be blank</span>
  {{/if}}

{{else}}
  {{yield}}
  <button class="mdl-button mdl-js-button mdl-button--primary settings-edit-btn" {{action "editMode" true}}>
    edit
  </button>
{{/if}}
