<main class="mdl-layout__content">
  <div class="page-content mdl-grid st--grid-max">
    {{pie-chart class="mdl-card mdl-card--bg-color st--pie-chart mdl-cell mdl-cell--6-col" data=formatedChartData}}

    <div class="mdl-card mdl-card--bg-color mdl-cell mdl-cell--6-col text-right" id="spending-meter-cont">
      {{spendings-meter data=spendingsMeter}}

      <div class="mdl-cell mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="st--btn-add-expense" em-modal-open>
          Add Expense
        </button>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="expense-table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th class="mdl-data-table__cell--non-numeric">Category</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |expense|}}
            {{#expense-table-cell}}
              <td class="mdl-data-table__cell--non-numeric">{{expense.name}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{expense.category}}</td>
              <td>{{currency}}{{expense.sum}}</td>
            {{/expense-table-cell}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#em-modal class="em--modal"}}
    {{add-expense class="mdl-dialog st--form-add-expense" role="dialog" aria-labelledby="dialog-title" action="saveRecord"}}
  {{/em-modal}}
</main>
