<main class="mdl-layout__content">
  <div class="page-content mdl-grid st--grid-max">
    {{pie-chart class="mdl-card mdl-card--bg-color st--pie-chart mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet" data=formatedChartData}}

    <div class="mdl-card mdl-card--bg-color text-right mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet" id="spending-meter-cont">


      {{select-date class="mdl-cell mdl-cell--12-col select-date-cont" timePeriods=timePeriodsList currentDate=currentMonthDisplaying action="timePeriodHasChanged"}}

      {{spendings-meter data=spendingsMeter class="mdl-cell mdl-cell--12-col" isInPast=currentMonthDisplaying.isInPast}}

      <div class="mdl-cell mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent {{if currentMonthDisplaying.isInPast 'isInPast-color'}}" id="st--btn-add-expense" em-modal-open="add-expense-modal">
          Add Expense
        </button>
      </div>


    </div>{{!-- /#spending-meter-cont --}}
  </div>{{!-- /.mdl-grid --}}

  <div class="mdl-grid st--grid-max">
    <div class="mdl-cell mdl-cell--12-col">
      {{expenses-table data=dataToDisplay id="expenses-table"}}
    </div>
  </div>{{!-- /.mdl-grid --}}

  {{#em-modal class="em--modal" id="add-expense-modal"}}
    {{add-expense class="mdl-dialog st--form-add-expense" role="dialog" aria-labelledby="dialog-title" action="saveRecord"}}
  {{/em-modal}}

</main>

{{outlet}}
